#ddev-generated
# see https://docs.searxng.org/admin/settings/settings.html#settings-use-default-settings
use_default_settings: true
server:
  secret_key: "${SEARXNG_SECRET_KEY}"
  limiter: false
  image_proxy: true
ui:
  static_use_hash: true
search:
  formats:
    - html
    - json
